* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

* {
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #6f56b3;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background: #eec9ff78;
}

.swiper-slide-active {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  background: #fff;
}

.box {
  position: relative;
  width: 100%;
  padding: 40px;
  color: #6e4141;
  text-align: center;
  text-transform: uppercase;
}

.box h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.box a {
  display: inline-block;
  font-size: 1.2em;
  padding: 10px 10px;
  letter-spacing: 2px;
  color: #46405a;
  border-radius: 5px;
  font-weight: 500;
}

.box a:hover {
  background: #8649b8;
  color: white;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-image: none;
}