* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

* {
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d6c9fa;
  overflow: hidden;
}

.swiper-container {
  width: 300px;
  height: 350px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background: #f8f8f8;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.box {
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}

.box h1 {
  color: #007bffdf;
  font-size: 30px;
  margin-bottom: 20px;
}

.box a {
  display: inline-block;
  font-size: 1.2em;
  padding: 10px 10px;
  letter-spacing: 2px;
  color: #9986d1;
  border-radius: 5px;
  font-weight: 500;
}

.box a:hover {
  background: #007bff9d;
  color: white;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 10px;
}